<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comphca.counter.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.comphca.counter.pojo.Order" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="uid" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="code" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="direction" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="price" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="ocount" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="date" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="time" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, code, direction, type, price, ocount, status, date, time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.comphca.counter.pojo.Order" >
    insert into t_order (id, uid, code, 
      direction, type, price, 
      ocount, status, date, 
      time)
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=BIGINT}, #{code,jdbcType=INTEGER}, 
      #{direction,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{price,jdbcType=BIGINT}, 
      #{ocount,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{date,jdbcType=VARCHAR}, 
      #{time,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.comphca.counter.pojo.Order" >
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="direction != null" >
        direction,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="ocount != null" >
        ocount,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="time != null" >
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=INTEGER},
      </if>
      <if test="direction != null" >
        #{direction,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=BIGINT},
      </if>
      <if test="ocount != null" >
        #{ocount,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        #{time,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.comphca.counter.pojo.Order" >
    update t_order
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=INTEGER},
      </if>
      <if test="direction != null" >
        direction = #{direction,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=BIGINT},
      </if>
      <if test="ocount != null" >
        ocount = #{ocount,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.comphca.counter.pojo.Order" >
    update t_order
    set uid = #{uid,jdbcType=BIGINT},
      code = #{code,jdbcType=INTEGER},
      direction = #{direction,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      price = #{price,jdbcType=BIGINT},
      ocount = #{ocount,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      date = #{date,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="getOrderListByUid" resultType="com.comphca.counter.pojo.Order" parameterType="long">
    select
        <include refid="Base_Column_List" />
    from
        t_order a, t_stock b
    where
        uid = #{uid}
    and a.code = b.code
  </select>

  <!--委托订单插入到数据库-->
  <insert id="insertOrderCmd" parameterType="com.comphca.counter.thirdpart.order.OrderCmd">
    insert into t_order
    (
     id,
     uid,
     code,

     price,
     ocount
     )
     values
    (
     #{mid},
     #{uid},
     #{code},

     #{price},
     #{volume}
    )
    <selectKey keyColumn="id" resultType="int"  order="AFTER">
        select last_insert_id()
    </selectKey>
  </insert>
</mapper>